<div class="container p-5 bg-dark text-white">
 <section id="contacto">
  <h2>Contacto</h2>
  <p>¡Gracias por visitarnos! Si tienes alguna pregunta o consulta, no dudes en contactarnos.</p>
  <ul>
    <li>Teléfono: 695 56 87 25</li>
    <li>Email: oscarj-456@hotmail.com</li>
    <br>
     <button onclick="window.open('https://wa.me/34695568725?text=Quiero%20más%20información%20sobre%20la%20página%20Libretas')" style="background-color: green; color: white; padding: 10px; border: none; border-radius: 5px;">
      <i class="fab fa-whatsapp" style="margin-right: 5px;"></i> Contactar por WhatsApp
     </button>
  </ul>
</section>

</div>


