<div class="container p-5  text-white">
    <section id="pedidos" class="mb-5">
      <h2 class="text-center">Realizar Pedido</h2>
      <!-- Card 1: Pedido a Frutería -->
      <div class="card bg-dark text-white mb-4">
        <div class="card-body text-center">
          <i class="fas fa-truck fa-3x mb-3"></i> <!-- Icono de fruta -->
          <h3 class="card-title">Pedido a Frutería</h3>
          <a href="/1/goTable" class="btn btn-primary">Entrar</a>
        </div>
      </div>

      <!-- Card 2: Pedido a Cocina -->
      <div class="card bg-dark text-white mb-4">
        <div class="card-body text-center">
          <i class="fas fa-utensils fa-3x mb-3"></i> <!-- Icono de utensilios de cocina -->
          <h3 class="card-title">Pedido a Cocina</h3>
          <a href="/2/goTable" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    </section>
  </div>

